<article class="post">
  <div class="post__content">
    <h2 class="post__content__title">{{ title }}</h2>
    <p class="post__content__body">{{ body }}</p>
    <small class="post__content__id debug">{{ id }}</small>
  </div>
  <div class="post__picture"></div>
</article>
