//Avoid typekit FOUT
html {
  &.js {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &.wf-active,
    &.wf-inactive,
    &.ready {
      opacity: 1;
    }
  }
}

body {
  max-width: 96rem;
  margin: 0 auto;
  padding: 4rem;
  color: $c-text;

  h1 {
    margin-bottom: 1em;
  }

  // SVG sprite
  & > svg {
    display: none;
  }
}

// RWD
img {
  max-width: 100%;
  height: auto;
}
